{% extends "./base.html" %}
{% block content %}



<script>
  function filldata(names) {
    console.log(names)
    console.log(names.email)
    document.getElementById("id").value = names.pk
    document.getElementById("editname").value = names.name
    document.getElementById("editotype").value = names.otype
    // document.getElementById("editdoj").value=names.doj
  }
</script>


<!-- add org Modal -->
<div class="modal fade" id="addOrgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Organisation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/org" method="post" enctype="multipart/form-data">
          <p>Organisation Name:</p>
          <input type="text" name="name" required><br>
          <p>Type:</p>
          <input type="text" name="otype" required><br>
          <!-- <p>Date of Joining:</p>
          <input type="text" name="doj" placeholder="yyyy-mm-dd"><br> -->


          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Add"><br>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<!-- update org Modal -->
<div class="modal fade" id="editOrgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit member</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../adminmodule/updateorg" method="post" enctype="multipart/form-data">
          <input type="name" name="id" id="id" hidden>
          <p>Organisation Name:</p>
          <input type="text" name="name" id="editname"><br>
          <p>Type:</p>
          <input type="text" name="otype" id="editotype"><br>
          <!-- <p>Date of Joining:</p>
          <input type="text" name="doj" id="editdoj"><br> -->



          {% csrf_token %}
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary" value="Save"><br>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>




<div class="row shadow p-3 mb-3 bg-body rounded m-1 border">
  <h2>Organisations</h2>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addOrgModal"
  style="margin-left: 85%;">
  Add Organisation
</button>
<br>
<br>


{% if org %}
<table class="table table-striped project-orders-table shadow p-3 mb-5 bg-body border rounded">
  <thead>
    <tr>
      <th class="ml-5">SNo.</th>
      <th>Name</th>
      <th>Type</th>
      <th>Date of Joining</th>
    </tr>
  </thead>

  <tbody>
    {% for i in org %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.name}}</td>
      <td>{{i.otype}}</td>
      <td>{{i.doj}}
      </td>
      <td>

        <div class="d-flex align-items-center">
          <button type="button" class="btn btn-success btn-sm btn-icon-text mr-3"
            onclick="filldata({'pk':'{{i.pk}}','name':'{{i.name}}','otype':'{{i.otype}}'})" data-bs-toggle="modal"
            data-bs-target="#editOrgModal">
            Edit
            <i class="typcn typcn-edit btn-icon-append"></i>
          </button>

          <button type="button" class="btn btn-danger btn-sm btn-icon-text">
            <a name="delete" href="../adminmodule/deleteinstance?data={{i.pk}}&op=3"
              style="text-decoration:None; color:white;">Delete</a>
            <i class="typcn typcn-delete-outline btn-icon-append"></i>
          </button>
        </div>

      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination" class="mx-auto">
    {% if org.has_previous %}
    <li class="page-item"><a class="page-link" href="{% url 'org' %}?page={{ org.previous_page_number }}">Previous</a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="#">{{org.number}}</a></li>
    {% if org.has_next %}
    <li class="page-item"><a class="page-link" href="{% url 'org' %}?page={{ org.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>

{% else %}
<h3 class="mx-auto" style="width: 300px;">
  There is no Organisations
</h3>
{% endif %}
<br>



{% endblock %}