{% extends "./base.html" %}
{% block content %}
<h1>Register branch</h1>
  <form action="../branch/register" method="post" enctype="multipart/form-data">
    <p>Branch Name:</p>
    <input type="name" name="name"><br>
    <p>Email:</p>
    <input type="email" name="email"><br>
    <p>Password:</p>
    <input type="password" name="pas"><br>
    <p>State:</p>
    <select name="state">
        <option value="select state">select state</option>
        {% for task in states %}
         <option value="{{task.pk}}">{{task.name}}</option>
        {% endfor %}
    </select>
    <br>
    <p>City:</p>
<select name="city">
        <option value="select city">select city</option>
        {% for task in cities %}
         <option value="{{task.pk}}">{{task.name}}</option>
        {% endfor %}
    </select>      <br>

    <p>Address:</p>
    <input type="text" name="address"><br>
    {% csrf_token %}
    <input type="submit" value="Add" ><br>
</form>
{% endblock %}

